<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>

.hero {
       
    height: 100vh;
    width: 100%;
    display: flex;
    

}
.hero::before {    
      content: "";
      background-image: url('static/css/images/gesture.png  ');
      background-size: cover;  
      background-repeat: repeat;
      background-attachment:scroll;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
}
h5 {
  opacity:1;
  color:black;
}

</style>
    <title>Gesture Controlled Media Player</title>
</head>
<body >
<div class="container">
    <div class="row">
        <div class="hero">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5"<b><u>Welcome to Gesture Controlled MediaPlayer</u></b></h3><br><br>
                <h5 class="mt-5">Click on the following button to start the camera and to view the instructions...</h5><br><br>
                <form  action="{{ url_for('view_instructions')}}" method="post">
                  <button type="submit" class="btn btn-primary btn-block">Start</button><br>
                </form>
                
            </div>
        </div>    
    </div>
</div>


</body>
</html>